# Rideshare Practice Analysis
## Setup

In [1]:
%matplotlib inline
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Source Data (Remember to change these)
city_data_path = "data/city_data.csv"
ride_data_path = "data/ride_data.csv"

In [3]:
# Read the City and Ride Data
raw_city = pd.read_csv(city_data_path)
raw_ride = pd.read_csv(ride_data_path)

# Combine the data into a single dataset
raw_merge = pd.merge(raw_ride, raw_city, on="city", how="outer")

# Display the data table for preview
raw_merge.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,Lake Jonathanshire,2018-04-07 20:51:11,31.25,4441251834598,5,Urban
2,Lake Jonathanshire,2018-03-09 23:45:55,19.89,2389495660448,5,Urban
3,Lake Jonathanshire,2018-04-07 18:09:21,24.28,7796805191168,5,Urban
4,Lake Jonathanshire,2018-01-02 14:14:50,13.89,424254840012,5,Urban

In [4]:
# Group data by city
city_grp = raw_merge.groupby("city")
city_summ = raw_city[["city", "driver_count", "type"]]

# Find average fare per ride per city
grp_info = pd.DataFrame(city_grp["fare"].mean())
grp_info = grp_info.rename(columns={"fare":"raw_avg_fare"})

# Find total number of rides per city
grp_info["ride_count"] = city_grp["ride_id"].count()

city_summ = pd.merge(city_summ, grp_info, on="city")
city_summ

                     city  driver_count      type  raw_avg_fare  ride_count
0             Richardfort            38     Urban     22.373214          28
1            Williamsstad            59     Urban     24.362174          23
2             Port Angela            67     Urban     23.836842          19
3              Rodneyfort            34     Urban     28.616957          23
4             West Robert            39     Urban     25.123871          31
5            West Anthony            70     Urban     24.736667          30
6             West Angela            48     Urban     25.990000          39
7           Martinezhaven            25     Urban     22.651250          24
8               Karenberg            22     Urban     26.340000          17
9             Barajasview            26     Urban     25.332273          22
10             Robertport            12     Urban     23.060500          20
11           Joneschester            39     Urban     22.289600          25
12                Leahton            17     Urban     21.243810          21
13   West Christopherberg            32     Urban     24.421154          26
14                Johnton            27     Urban     26.785714          21
15           Reynoldsfurt            67     Urban     21.919474          19
16             Port David             7     Urban     25.855000          22
17    New Kimberlyborough            33     Urban     22.589000          30
18            Carriemouth            52     Urban     28.314444          27
19              Rogerston            25     Urban     22.097727          22
20               Jerryton            64     Urban     25.649200          25
21              Loganberg            23     Urban     25.292500          28
22           Simpsonburgh            21     Urban     23.355833          24
23             Port Frank            23     Urban     27.201515          33
24           South Latoya            10     Urban     20.093158          19
25       West Samuelburgh            73     Urban     21.767600          25
26            Grahamburgh            61     Urban     25.221200          25
27    West Patrickchester            25     Urban     28.233125          16
28         North Madeline            19     Urban     22.623600          25
29             South Jack            46     Urban     22.965263          19
..                    ...           ...       ...           ...         ...
90          Barronchester            11  Suburban     36.422500          16
91            Brandonfort            10  Suburban     35.437368          19
92        East Danielview            22  Suburban     31.560588          17
93         East Marymouth             5  Suburban     30.835185          27
94            Mezachester            14  Suburban     30.760000          17
95              Lewisland             4  Suburban     34.614118          17
96             Josephside            25  Suburban     32.858148          27
97              Davidfurt            23  Suburban     31.995882          17
98          Nicolechester            19  Suburban     30.909474          19
99         East Aaronbury             7  Suburban     25.661111           9
100    North Richardhaven             1  Suburban     24.704286          14
101         North Jeffrey            11  Suburban     29.242308          13
102        South Jennifer             7     Rural     35.264286           7
103          West Heather             4     Rural     33.890000           9
104            Newtonview             1     Rural     36.745000           4
105           North Holly             8     Rural     29.130000           9
106           Michaelberg             6     Rural     34.997500          12
107           Taylorhaven             1     Rural     42.263333           6
108           Penaborough             6     Rural     35.246000           5
109        Harringtonfort             4     Rural     33.470000           6
110            Lake Jamie             4     Rural     34.358333           6
111       Lake Latoyabury             2     Rural     26.061818          11
112           North Jaime             1     Rural     30.802500           8
113     South Marychester             1     Rural     41.870000           8
114             Garzaport             7     Rural     24.123333           3
115          Bradshawfurt             7     Rural     40.064000          10
116          New Ryantown             2     Rural     43.278333           6
117        Randallchester             9     Rural     29.742000           5
118           Jessicaport             1     Rural     36.013333           6
119       South Saramouth             7     Rural     36.160000           4

[120 rows x 5 columns]

## Bubble Plot of Ride Sharing Data

In [5]:
# Obtain the x and y coordinates for each of the three city types
urban_summ = city_summ.loc[city_summ["type"] == "Urban"]
subur_summ = city_summ.loc[city_summ["type"] == "Suburban"]
rural_summ = city_summ.loc[city_summ["type"] == "Rural"]

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [6]:
# Show plot

## Total Fares by City Type

In [7]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [8]:
# Show Figure

## Total Rides by City Type

In [9]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [10]:
# Show Figure

## Total Drivers by City Type

In [11]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [12]:
# Show Figure